@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.test{
    margin-left: '20px';
    width: '23rem';
}
.test:hover{
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 253);
}
.search-form{
    margin-left: 300px;
    margin-top: 10px;
    padding-left: 50px;
    max-width: 1000px;
   
}
.container {
  margin-top: 20px;
  margin-left: 56px;
  
}

.container-form{
    border-width: 100px;
    border-bottom: magenta;
    border-radius: 50px;
    max-width: max-content;
}
.search-marg{
   margin-left : 320px;
}
.label-style{
    margin-left: 500px;
    
}
.mylabel{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
    color: darkblue;
}
.myinput{
border-radius: 2rem;
    outline : none ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(169, 169, 238);
    color: rgb(0, 0, 0);
    text-align-last: center;
    font-size: 15px;
    width:auto;
    padding: auto;
    padding-inline-end: 0em;
    margin-bottom: 6px;
    border-width: 0em;
    margin-left:1px;
    text-decoration: underline;
    
}
.myinput:hover{
 background-color: rgb(42, 193, 243);
}
.inscription-btn{
 color: white;
   border: none;
   background-color: rgb(74, 141, 141);
   padding:0.2rem;
   width:120px;
   margin-top:30px;
   margin-left:120px;
   border-radius : 12px;
   
}
.inscription-btn:hover{
     background-color: rgb(42, 193, 243);
}
.title{
    font-size:30px;
    font-family : Verdana, Geneva, Tahoma, sans-serif ;
    
}

.stylelink:hover{
    text-decoration: underline;

}
* {
    box-sizing: border-box;
  }


.wrapper {
  margin: 0 auto;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.15);
  position: relative;
  width: 500px;
  border: 1px solid grey;
}
.container{
  display:inline-block;
}
.input-search {
  width:100%;
  border: none;
  height: 50px;
  border-radius: 5px;
  padding: 0px 40px 0px 10px;
  font-size: 18px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

input:focus {
  outline: none;
}

.btn_search {
  position: absolute;
  display:inline-block;
  border: none;
  background: none;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  padding: 0;
  width: 50px;
}
.btn-translate{
  position: relative;
  border: none;
  background: none;
  height: 30px;
  padding: 0;
  width: 110px;
  margin-left: -320px;
  color: #566481;
 
}
button:focus {
  outline: none;
}

button i {
  width: 100%;
  color: #6d7b98;
  line-height: 50px;
  font-size: 22px;
}

.results {
  padding: 0px;
  
}

.results ul {margin: 0; padding: 0; }
.results ul li {
  list-style: none;
  border-radius: 3px;
  opacity: 0;
  display: none;
  padding: 8px 12px;
  transition: all .5s linear;
}

.show .results ul li {
  opacity: 1;
  display: block;
}

.show .results {
  padding: 10px;
}

.results ul li:hover {
  background: #ececec
}